/**
 * Created by peijiqiu on 2014/6/17.
 * E-mail : peijiqiu@gmail.com
 */
.main-content .link-list li { margin-left: 0; color: red;}
.main-content .count li { margin-left: 0;}
.main-content .thumb li { margin-left: -4px;}
