/**
 * Created by peijiqiu on 2014/6/8.
 * E-mail : peijiqiu@gmail.com
 */
.nav { position: relative;  margin: 0 auto; margin-top: 140px; text-align: center; width: 129px;}
.nav a { display: block; width: 129px; height: 21px; cursor: pointer;}
.nav a.l_index { background: url("../img/common/index-link-hover.png") no-repeat left center;}
.nav a.l_index:hover { background: url("../img/common/index-link-hover.png")}
.nav a.l_index:active { background: url("../img/common/index-link-dark.png")}
.nav a.l_gallery { background: url("../img/common/gallery-link.png") no-repeat left center;}
.nav a.l_gallery:hover { background: url("../img/common/gallery-link-hover.png")}
.nav a.l_gallery:active { background: url("../img/common/gallery-link-active.png")}
.nav a.l_comm { background: url("../img/common/ac-link.png") no-repeat left center;}
.nav a.l_comm:hover { background: url("../img/common/ac-link-hover.png")}
.nav a.l_comm:active { background: url("../img/common/ac-link-active.png")}

.img_wrap { width:1280px; text-align: center; padding: 20px 0 200px 0; border-bottom: 2px solid #3e3e3e; margin:0 auto; margin-bottom: 100px;}
.img_wrap .works{ border: 1px solid #3e3e3e; padding: 5px;}
.img_wrap .signature { display:none; color: #A8A8A8; font-size: 12px; font-weight: bold; padding-top: 10px; /* padding: 10px 0 200px 0; */ margin: 0 auto; text-align: right;}
