* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
}

.page-wrap {
    width: 820px;
    margin: 0 auto;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.comment {
    width: 510px;
    padding-left: 60px;
}
.ask {
    font-size: 14px;
    color: #b3b3b3;
}

.answer {
    color: #199bb3;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    text-indent: 20px;

}
footer {
    clear: both;
}

/* Content -> Unordered Lists */

div#content ul#itemContainer {
    list-style: none;
    padding:0;
}

div#content ul#itemContainer li {
    display: inline-block;
    zoom: 1;
    *display:inline;
}

div#content ul#itemContainer li img {
    vertical-align: bottom;
    width: 100px;
    height: 100px;
}

.thumbnail {
    margin: 0 -5px 2px 0;
    border: 1px solid #191919;
}
.commentList {
    height: 320px;
    overflow: auto;
}

.imgList {
    width: 310px;
}
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
