a {
    cursor: pointer;
}

body {
    background-image: url("../img/common/bg.png");
    background-color: #191919;
    background-repeat: no-repeat;
    background-position: center top;
}

nav{
    width: 100px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 20px;
}
