<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件上传</title>

    <!--<link rel="stylesheet" href="../static/css/base.css" />-->
    <link rel="stylesheet" href="../static/css/jquery-ui-1.9.1.custom.min.css"/>
    <link rel="stylesheet" href="../static/css/jquery.timepicker.addon.css"/>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../static/css/file-upload.css"/>
    <script src="../static/js/jquery-1.9.1.min.js"></script>
    <script src="../static/js/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="../static/js/jquery.timepicker.addon.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../static/js/file-upload.js"></script>
</head>

<body>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#uploadPic">上传图片</a></li>
        <li><a href="#uploadSketch">上传草图</a></li>
        <li><a href="#uploadUrl">上传链接</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="uploadPic">
            <form method="post" enctype="multipart/form-data">
                <label for="picture">选择图片</label>
                <input type="file" name="picture" id="picture">
                <label for="p-thumbnail">缩略图</label>
                <input type="file" name="thumbnail" id="p-thumbnail">
                <label for="p-time">选择时间</label>
                <input type="text" name="uploadtime" id="p-time" class="date-picker">
                <label for="p-describe">图片描述</label>
                <textarea name="description" rows="10" cols="30" placeholder="添加图片描述…" id="p-describe"></textarea><br/>
                <input type="hidden" name="target" value="images">
                <input type="submit" value="提交" class="btn btn-primary" id="p-submit">
                {% if error %}
                <p style="color:red">{{ error }}</p>
                {% end %}
                {% if items %}
                <p>成功上传文件：</p>
                <ul>
                    {% for item in items %}
                    <li>{{ item }}</li>
                    {% end %}
                </ul>
                {% end %}
            </form>
        </div>
        <div class="tab-pane" id="uploadSketch">
            <form method="post" enctype="multipart/form-data">
                <label for="sketch">选择草图</label>
                <input type="file" name="picture" id="sketch">
                <label for="s-thumbnail">缩略图</label>
                <input type="file" name="thumbnail" id="s-thumbnail" >
                <label for="s-time">选择时间</label>
                <input type="text" name="uploadtime" id="s-time" class="date-picker">
                <label for="s-describe">图片描述</label>
                <textarea name="description" rows="10" cols="30" id="s-describe" placeholder="添加图片描述..."></textarea><br/>
                <input type="hidden" name="target" value="sketches">
                <input type="submit" value="提交" class="btn btn-primary" id="s-submit">
                {% if error %}
                <p style="color:red">{{ error }}</p>
                {% end %}
                {% if items %}
                <p>成功上传文件：</p>
                <ul>
                    {% for item in items %}
                    <li>{{ item }}</li>
                    {% end %}
                </ul>
                {% end %}
            </form>
        </div>
        <div class="tab-pane" id="uploadUrl">
            <form method="post" enctype="multipart/form-data">
                <label for="url">链接名称：</label>
                <input type="text" id="url" name="name">
                <label for="u-address">链接地址</label>
                <input type="text" id="u-address" name="url">
                <label for="u-thumbnail">缩略图</label>
                <input type="file" id="u-thumbnail" name="picture"><br/>
                <input type="hidden" name="target" value="links">
                <input type="submit" id="u-submit" class="btn btn-primary">
                {% if error %}
                <p style="color:red">{{ error }}</p>
                {% end %}
                {% if items %}
                <p>成功上传文件：</p>
                <ul>
                    {% for item in items %}
                    <li>{{ item }}</li>
                    {% end %}
                </ul>
                {% end %}
            </form>
        </div>
    </div>
</div>
</body>
</html>