<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JY-BLOG</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../static/css/common/reset.css" />
    <link rel="stylesheet" href="../static/css/index1.css" />
</head>
<body>
    <div class="wrapper">
        <a class="logo" href="main"></a>
        <div class="corner"></div>
    </div>
</body>
</html>